<style type="text/css">
html{}
body {
background-image: url(light_noise_diagonal.png); background-position: initial initial; background-repeat: initial initial; 
}

div.center {
  width: 800px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -400px;
  margin-top: -150px;
}

#url-text {
  font-size:60px;
  left:0;
  line-height:70px;
  text-align: center;
  top:0;
  width:700px;
  margin: 10px 10px 10px 54px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

form button {
  background: #0FA1C5;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font-size: 50px;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
  width: 320px;
  height: 70px;
}

form button:hover {
  background: #1e2506;
  cursor: pointer;
}

.center table {
  width: 500px;
  background: white;
  border: 1px solid black;
  text-align: center;
}
</style>
